.embla {
  background-color: hsl(0, 0%, 0%);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  opacity: 0;
  transition: opacity 200ms linear;
  top: 0;
  z-index: 10002;

  &.ready {
    opacity: 1;
  }
}

.embla-container {
  display: flex;
  height: 100%;

  > * {
    flex: 0 0 auto;
    max-width: 100%;
  }

  figure {
    display: flex;
    height: 100%;
    padding: 2rem 1rem;
    width: 100%;

    @include respond-to(tablet) {
      padding: 2rem;
    }

    img {
      max-height: 80vh;
      height: 100%;
      margin: auto;
      object-fit: contain;
      width: 100%;
    }
  }
}

.embla-slide {
  flex: 0 0 auto;
  max-width: 100%;
}

.embla-nav {
  display: block; // required for button styles to apply - bug?

  button {
    border: none !important;
    cursor: var(--em-cursor, none); // custom cursor used
    height: 100vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50vw;
    z-index: 4;

    &.embla-next {
      right: 0;
    }
  }
}

.embla-counter {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: white;

  @include respond-to(tablet) {
    left: 2rem;
  }
}
