.embla {
  background-color: hsl(0, 0%, 0%);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.embla-container {
  display: flex;
  height: 100%;

  > * {
    flex: 0 0 auto;
    max-width: 100%;
  }

  figure {
    display: flex;
    height: 100%;
    padding: 2rem;
    width: 100%;

    img {
      max-height: 80vh;
      height: 100%;
      margin: auto;
      object-fit: contain;
      width: 100%;
    }
  }
}

.embla-slide {
  flex: 0 0 auto;
  max-width: 100%;
}

.embla-nav {
  display: block; // required for button styles to apply - bug?

  button {
    align-items: center;
    border: none !important;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    z-index: 4;

    &[disabled] {
      opacity: 0.4;
      pointer-events: none;
    }

    span {
      align-items: center;
      background: hsla(0, 0%, 0%, 0.25);
      display: flex;
      justify-content: center;
      border-radius: 50%;
      height: 50px;
      // opacity: 0;
      padding: 0.75rem;
      transition: opacity 0.1s ease, transform 0.2s ease;
      width: 50px;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover {
      span {
        opacity: 1;
      }
    }

    svg {
      display: block;
      fill: none;
      height: 30px;
      overflow: visible;
      stroke: white;
      stroke-width: 5px;
      width: 30px;
    }

    &.embla-prev {
      left: 1rem;

      svg {
        transform: translateX(-2px);
      }
    }

    &.embla-next {
      justify-content: flex-end;
      right: 1rem;

      svg {
        transform: rotate(180deg);
      }
    }
  }
}
