:root {
  --rb-map-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.leaflet-container {
  a {
    &.leaflet-popup-close-button {
      color: grey;
      font: inherit;
      font-size: 1.2rem;
      font-family: var(--rb-font-family-bold);
      line-height: 0.7rem;
      height: auto;
      opacity: 0;
      padding: 8px;
      transition: var(--rb-transition-settings);
      width: auto;
    }
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--rb-bg-color);
  box-shadow: var(--rb-map-shadow);
  border-radius: 0;
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
  overflow: hidden;

  a {
    display: block;
    width: 281px;
  }

  img {
    background-color: var(--rb-bg-color-blue);
    color: var(--rb-bg-color-blue);
    height: 160px;
    transform: scaleX(1.01);
  }

  h4 {
    color: white;
    font: inherit;
    font-family: var(--rb-font-family-normal);
    font-size: var(--rb-font-size-1);
    padding: var(--rb-space-1);
  }
}

// This is not the right way to do this, but...
.leaflet-top {
  bottom: 0;
  top: auto;

  .leaflet-control {
    margin-bottom: 1rem;
  }
}

.leaflet-left {
  left: 0;

  .leaflet-control {
    margin-left: 1rem;
  }
}

.leaflet-touch {
  .leaflet-bar {
    border: none;
    box-shadow: none;

    a {
      background-color: var(--rb-bg-color);
      box-shadow: var(--rb-map-shadow);
      border: none;
      border-radius: 0 !important;
      color: var(--rb-text-color);
      line-height: 28px;
      transition: var(--rb-transition-settings);

      &:first-child {
        margin-bottom: var(--rb-space-0);
      }
    }
  }
}
