:root {
  --rb-map-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.leaflet-container {
  a {
    &.leaflet-popup-close-button {
      color: grey !important;
      font: inherit !important;
      font-size: 1.2rem !important;
      font-family: var(--rb-font-family-bold) !important;
      line-height: 0.7rem !important;
      height: auto !important;
      opacity: 0 !important;
      padding: 8px !important;
      transition: var(--rb-transition-settings) !important;
      width: auto !important;
    }
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--rb-bg-color) !important;
  box-shadow: var(--rb-map-shadow) !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  overflow: hidden !important;

  a {
    display: block !important;
    width: 281px !important;
  }

  img {
    background-color: var(--rb-bg-color-blue) !important;
    color: var(--rb-bg-color-blue) !important;
    height: 160px !important;
    transform: scaleX(1.01) !important;
  }

  h4 {
    color: white !important;
    font: inherit !important;
    font-family: var(--rb-font-family-normal) !important;
    font-size: var(--rb-font-size-1) !important;
    padding: var(--rb-space-1) !important;
  }
}

// This is not the right way to do this, but...
.leaflet-top {
  bottom: 0 !important;
  top: auto !important;

  .leaflet-control {
    margin-bottom: 1rem !important;
  }
}

.leaflet-left {
  left: 0 !important;

  .leaflet-control {
    margin-left: 1rem !important;
  }
}

.leaflet-touch {
  .leaflet-bar {
    border: none !important;
    box-shadow: none !important;

    a {
      background-color: var(--rb-bg-color) !important;
      box-shadow: var(--rb-map-shadow) !important;
      border: none !important;
      border-radius: 0 !important;
      color: var(--rb-text-color) !important;
      line-height: 28px !important;
      transition: var(--rb-transition-settings) !important;

      &:first-child {
        margin-bottom: var(--rb-space-0) !important;
      }
    }
  }
}
