@import "./../styles/settings/all.scss";

.container {
  padding: 1rem;

  @include respond-to(tablet) {
    padding: 2rem;
  }

  h1 {
    font-size: var(--rb-font-size3);
    line-height: 1;
    margin-bottom: 0.5rem;

    @include respond-to(tablet) {
      font-size: var(--rb-font-size5);
    }
  }

  h4 {
    margin-bottom: 1rem;
    opacity: 0.6;
  }

  div {
    cursor: pointer;
    width: fit-content;
  }

  div + div {
    margin-top: 2rem;
  }

  img {
    max-width: 100%;
    width: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}
