@import "./../../styles/settings/all.scss";

.button {
  color: white;
  padding: calc(#{$spacing-s} + 3px) $spacing-s $spacing-s;
}

.rotated {
  transform: rotate3d(0, 1, 0, 180deg);
}

@include respond-to(tablet) {
  .button {
    display: none;
  }
}
