@import "./../../styles/settings/all.scss";

.button {
  cursor: pointer;
  letter-spacing: 0.15em;
  padding: calc(#{$spacing-s} + 3px) $spacing-s $spacing-s;
  text-transform: uppercase;
  z-index: 3;
}

.open {
  color: white;
}

.invert {
  color: white;
}

@include respond-to(tablet) {
  .button {
    display: none;
  }
}
