@import "./../../styles/settings/all.scss";

.section {
  border-bottom: 1px solid hsl(0, 0%, 20%);
  padding: 2rem 1rem 2rem;

  h1 {
    @include font-bold;
    border-bottom: 1px solid grey;
    display: none;
    font-size: var(--font-size-s1);
    letter-spacing: 0.1em;
    margin: 1rem 0 2rem;
    opacity: 0.7;
    text-transform: uppercase;
  }

  @include respond-to(tablet) {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 2rem;
    padding: 4rem 2rem 2rem;

    h1 {
      grid-column: 1 /-1;
      margin: 0;
      padding: 0;
    }

    .imageLink {
      h2 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  > article + article {
    margin-top: 2rem;
  }

  @include respond-to(tablet) {
    > article + article {
      margin-top: 4rem;
    }
  }
}

.imageLink {
  h2 {
    @include font-bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: inline-flex;
    font-size: var(--font-size-s1);
    justify-content: space-between;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &:hover {
    h2 {
      border-bottom-color: black;
    }
  }
}

.images {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "feature small1"
    "feature small2";
  height: 200px;
  margin-bottom: 0.5rem;

  @include respond-to(tablet) {
    height: 400px;
  }

  @include respond-to(desktop) {
    height: 480px;
  }

  figure {
    overflow: hidden;

    &:first-child {
      grid-area: feature;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    transition: transform 4s linear;
    width: 100%;
  }
}
