@import "./../../styles/settings/all.scss";

.section {
  --transition: 300ms linear;
  --effect: brightness(0.4) saturate(50%);

  background-color: var(--rb-bg-color);
  padding-top: var(--rb-space-5);

  @include respond-to(tablet) {
    padding-top: var(--rb-space-7);
  }

  h1 {
    border-bottom: 1px solid var(--rb-line-color);
    color: var(--rb-heading-color);
    font-size: var(--rb-font-size-1);
    letter-spacing: var(--rb-letter-spacing);
    line-height: 1;
    margin-bottom: var(--rb-space-3);
    padding-bottom: 2px;
    text-transform: uppercase;
  }

  > article + article {
    margin-top: var(--rb-space-6);

    @include respond-to(tablet) {
      margin-top: var(--rb-space-7);
    }
  }
}

.imageLink {
  display: block;
  transition: var(--transition);

  @include respond-to(tablet) {
    &:hover {
      --effect: initial;

      .images {
        --grid-gap: var(--rb-space-4);
      }

      h2 {
        border-bottom-color: white;
      }
    }
  }

  h2 {
    @include font-bold;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    display: inline-flex;
    font-size: var(--rb-font-size-1);
    line-height: 1;
    letter-spacing: var(--rb-letter-spacing);
    margin-bottom: var(--rb-space-2);
    text-transform: uppercase;
    transition: var(--transition);

    &:not(.visible) {
      filter: var(--effect);
    }

    @include respond-to(tablet) {
      font-size: var(--rb-font-size-2);
    }
  }
}

.images {
  --grid-columns: 2fr 1fr 1fr;
  --grid-gap: var(--rb-space-1);
  --height: 200px;

  display: grid;
  grid-gap: var(--grid-gap);
  height: var(--height);
  transition: var(--transition);

  &:not(.visible) {
    filter: var(--effect);
  }

  @include respond-to(mobile-l) {
    --height: 50vw;
    grid-template-columns: var(--grid-columns-small);
    max-height: 600px;
  }

  @include respond-to(tablet) {
    grid-template-columns: var(--grid-columns);
    --height: 40vw;
  }

  @include respond-to(desktop) {
    --height: 480px;
  }

  &.portrait {
    height: 50vh;
    min-height: 400px;

    @include respond-to(mobile-l) {
      height: var(--height);
      min-height: initial;
    }
  }

  &.landscape {
    height: 25vh;
    min-height: 240px;

    @include respond-to(mobile-l) {
      height: var(--height);
      min-height: initial;
    }
  }

  figure {
    overflow: hidden;

    &:nth-child(2) {
      display: none;

      @include respond-to(mobile-l) {
        display: block;
      }
    }

    &:nth-child(3) {
      display: none;

      @include respond-to(tablet) {
        display: block;
      }
    }
  }

  img {
    background-color: var(--rb-bg-color-blue);
    color: var(--rb-bg-color-blue);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
