@use "sass:math";

$p: 2.5rem;

.section {
  display: grid;
}

.article {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  padding: $p;
}

.titleLink {
  position: relative;

  > * {
    font-size: var(--font-size-5);
    letter-spacing: -0.05em;
    line-height: 1;
    margin: 0;
    position: sticky;
    top: math.div($p, 2);
  }
}

.imageLink {
  height: calc(100vh - #{$p});

  figure {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
