@import "./../../styles/settings/all.scss";

.section {
  padding: 1rem;

  @include respond-to(tablet) {
    display: grid;
    grid-template-columns: 120px minmax(40ch, 60ch);
    grid-gap: 2.5rem;
    justify-content: center;
  }

  figure {
    display: none;

    @include respond-to(tablet) {
      display: block;
    }
  }
}
