@import "./../../styles/settings/all.scss";

.section {
  padding: 1rem;

  @include respond-to(tablet) {
    padding: 4rem 2rem;
  }

  p {
    max-width: 60ch;

    @include respond-to(tablet) {
      font-size: var(--font-size-2);
    }
  }
}
