@import "./../../styles/settings/all.scss";

.header {
  align-items: center;
  box-shadow: 0 0 0 1px hsl(0, 0%, 100%, 0.1);
  display: flex;
  justify-content: space-between;
  position: relative;

  &.active {
    &:before {
      opacity: 1;
    }

    nav {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }

  h1 {
    display: flex;
    // font-family: Akkurat-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.15em;
    position: relative;
    text-transform: uppercase;
    z-index: 4;

    a {
      letter-spacing: 0.15em;
      opacity: 0.7;
      padding: calc(#{$spacing-s} + 3px) $spacing-s $spacing-s;
      transition: opacity $transition-settings;

      &:hover {
        opacity: 1;
      }
    }
  }

  nav {
    align-items: center;
    background: $body-bg-color;
    display: flex;
    height: calc(100% - var(--header-height));
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: var(--header-height);
    transition: opacity 0.1s ease-out;
    z-index: 1;
  }

  ul {
    margin-bottom: var(--header-height);
  }

  li {
    display: flex;

    a {
      flex: 1;
      font-size: var(--font-size-5);
      letter-spacing: 0.05em;
      line-height: 2;
      padding: 0 1rem;
      text-transform: uppercase;
    }
  }

  @include respond-to(tablet) {
    align-items: unset;
    padding: 0 1rem;
    z-index: 2;

    button {
      display: none;
    }

    nav {
      background: inherit;
      display: flex;
      height: auto;
      max-width: initial;
      opacity: 1;
      padding: 0;
      pointer-events: auto;
      position: static;
      transition: none;
      transform: none;
      will-change: initial;
    }

    ul {
      display: flex;
      margin-bottom: 0;
    }

    li {
      display: flex;
      line-height: 1;

      a {
        font-size: 0.875rem;
        letter-spacing: 0.075em;
        line-height: 1;
        padding: calc(#{$spacing-s} + 5px) $spacing-s $spacing-s;
        text-transform: uppercase;
        transition: opacity $transition-settings;

        &.current {
          color: grey;
        }
      }
    }
  }
}
