@import "./../../styles/settings/all.scss";

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  h1 {
    display: flex;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    a {
      padding: calc(#{$spacing-s} + 3px) $spacing-s $spacing-s;
    }
  }

  button {
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    padding: $spacing-s;
    width: 20px;
    z-index: 2;

    span {
      background: black;
      height: calc(100% / 10);
    }
  }

  nav {
    background: white;
    bottom: 0;
    left: 100%;
    max-width: 300px; // TODO change?
    position: fixed;
    top: 0;

    z-index: 1;

    &.active {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @include respond-to(tablet) {
    button {
      display: none;
    }

    nav {
      background: inherit;
      max-width: initial;
      position: static;
      transform: none;
    }

    ul {
      display: flex;
    }

    li {
      display: flex;
      line-height: 1;

      a {
        font-size: 0.875rem;
        letter-spacing: 0.075em;
        padding: calc(#{$spacing-s} + 3px) $spacing-s $spacing-s;
        text-transform: uppercase;
      }
    }
  }
}
