@import "./../../styles/settings/all.scss";

.header {
  --menu-item-padding: calc(var(--rb-space-2) + 2px) var(--rb-space-3)
    var(--rb-space-2);

  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include respond-to(tablet) {
    --menu-item-padding: calc(var(--rb-space-3) + 2px) var(--rb-space-3)
      var(--rb-space-3);
    padding: 0 var(--rb-space-3);
    z-index: 3;
  }
}

.brand {
  --logo-letter-spacing: -0.0125em;
  --logo-font-size: 1.25rem;
  @include font-bold;
  font-size: var(--logo-font-size);
  letter-spacing: var(--logo-letter-spacing);
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 1; // above home page carousel

  @include respond-to(tablet) {
    --logo-font-size: var(--rb-font-size-2);
  }

  a {
    color: hsl(var(--rb-primary-color-hs) 50%);
    display: flex;
    padding: var(--menu-item-padding);
  }
}

.nav {
  background: hsl(var(--rb-primary-color-hs) 50%);
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  padding-top: var(--rb-space-7);
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--rb-transition-settings);
  z-index: 10000;

  @media screen and (max-height: 400px) {
    padding-top: var(--rb-space-6);
  }

  @include respond-to(tablet) {
    align-items: center;
    background: initial;
    height: auto;
    max-width: initial;
    opacity: 1;
    padding-top: 0;
    pointer-events: auto;
    position: static;
    transition: none;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &.index {
    li a {
      opacity: 1;
    }
  }

  ul {
    flex-grow: 1;

    @include respond-to(tablet) {
      display: flex;
    }
  }

  li {
    display: flex;

    a {
      --letter-spacing: 0.05em;
      flex: 1;
      font-size: clamp(var(--rb-font-size-2), 6vh, var(--rb-font-size-4));
      letter-spacing: var(--letter-spacing);
      line-height: 1.75;
      opacity: 0.5;
      padding: 0 1rem;
      text-transform: uppercase;

      &.current {
        opacity: 1;
      }

      @include respond-to(tablet) {
        font-size: var(--rb-font-size-1);
        letter-spacing: var(--rb-letter-spacing);
        padding: var(--menu-item-padding);

        &.current {
          color: white;
        }
      }
    }
  }
}
