@import "./../../styles/settings/all.scss";

.figure {
  height: 50vh;
  margin-bottom: 0.5rem;
  min-height: 400px;

  overflow: hidden;

  &.isLandscape {
    height: 25vh;
    min-height: 240px;
  }

  @include respond-to(mobile-l) {
    height: 400px !important;
    min-height: initial !important;
    margin-bottom: 1rem;
  }

  @include respond-to(tablet) {
    height: 400px;
    margin-bottom: 1rem;
  }

  img {
    background-color: var(--rb-bg-color-blue);
    color: var(--rb-bg-color-blue);
    height: 100%;
    object-fit: cover;
    transition: transform 4s;
    width: 100%;
    will-change: transform;
  }
}
