@import "./../../styles/settings/all.scss";

.listimage {
  --gallery-container-padding-top: var(--rb-space-2);
  display: none;

  @include respond-to(tablet) {
    display: block;

    img {
      position: absolute;
    }
  }

  > div {
    position: sticky;
    top: calc(
      var(--rb-toolbar-height, 64) + var(--gallery-container-padding-top)
    );
  }
}
