@import "./../../styles/settings/all.scss";

.figure {
  height: 240px;
  margin-bottom: 0.5rem;
  overflow: hidden;

  @include respond-to(tablet) {
    height: 400px;
    margin-bottom: 1rem;
  }

  img {
    background-color: hsl(130, 21%, 15%);
    color: hsl(130, 21%, 15%);
    height: 100%;
    object-fit: cover;
    transition: transform 4s;
    width: 100%;
    will-change: transform;
  }
}
