@import "./../../styles/settings/all.scss";

.listimage {
  display: none;

  @include respond-to(tablet) {
    display: block;
    grid-column: 1;
    grid-row: 1 / -1;
    position: sticky;
    top: calc(var(--toolbarheight, 55) * 1px);

    img {
      position: absolute;
    }
  }
}
