@import "./../../styles/settings/all.scss";

$breakpoint: tablet;

.container,
.toolbar,
.filters,
.filterList,
.filterItem,
.layouts,
.layoutList,
.layoutItem {
  display: grid;
}

.container {
  padding: 1rem;

  @include respond-to($breakpoint) {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: calc(100vh - var(--header-height));
    overflow: auto;
    position: relative;
  }
}

.toolbar {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;

  @include respond-to($breakpoint) {
    height: 0; // ?
    position: sticky;
    top: 0;
  }
}

.layouts {
  margin-top: 2rem;
}

.filters,
.layouts {
  h4 {
    color: hsl(0, 0%, 40%);
    font-size: var(--font-size-s2);
    letter-spacing: 0.075em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }
}

.filterList,
.layoutList {
  justify-content: start;
}

.filterItem,
.layoutItem {
  display: flex;
  transition: 50ms ease-in-out;

  &:hover,
  &:focus {
    &:not(.activeFilter):not(.activeLayout) {
      color: white;
    }
  }

  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  label {
    cursor: pointer;
    line-height: 1.75;
    text-transform: capitalize;
  }
}

.activeFilter,
.activeLayout {
  label {
    color: white;
  }
}

.grid,
.list {
  a {
    &:hover,
    &:focus {
      color: white;

      img {
        transform: scale(1.2);
        transition: transform 12s linear;
      }

      h3 span {
        opacity: 1;
      }
    }
  }

  h3 {
    display: flex;
    justify-content: space-between;

    span {
      opacity: 0;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: 0 1rem 4rem;

  figure {
    height: 300px;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  img {
    height: 100%;
    object-fit: cover;
    transition: transform 4s;
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    + a {
      border-top: 1px solid hsl(0, 0%, 10%);
    }
  }
}

.map {
  display: block;
}
