@import "./../../styles/settings/all.scss";

.carousel {
  bottom: 0;
  height: 115.625vw;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, calc(var(--scroll-y) * -0.75px), 0);
  will-change: transform;

  &:after {
    background: black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: calc(var(--scroll-y) * 0.0015);
    position: absolute;
    right: 0;
    top: 0;
  }

  @include respond-to(tablet) {
    height: 100vh;
  }

  div {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 2s ease-out;

    &.isActive {
      opacity: 1;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  h3 {
    @include font-bold;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;

    &.isActive {
      animation: FADE_IN_OUT 6s forwards 1s;
      pointer-events: auto;
    }

    &.isBright {
      color: white;
    }

    a {
      color: inherit;
    }

    &:hover a {
      text-decoration: underline;
    }
  }
}

.counter {
  @include font-bold;
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  transition: color 1s ease-out;

  &.isBright {
    color: white;
  }
}

// Tightly coupled to the `5000` transition speed set in the JS, and the animation timing above
@keyframes FADE_IN_OUT {
  5% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
