@use "sass:math";

$breakpoints: (
  "mobile-l": 480px,
  "tablet": 769px,
  "desktop": 960px,
  "widescreen": 1152px,
  "full-hd": 1344px,
);

$ratio: 1.375;

$scale: $ratio;
$scale-m: $scale * $ratio;
$scale-l: $scale-m * $ratio;
$scale-s: math.div($scale, $ratio);
$scale-xs: math.div($scale-s, $ratio);
$scale-xxs: math.div($scale-xs, $ratio);

$spacing-xxs: $scale-xxs * 1rem;
$spacing-xs: $scale-xs * 1rem;
$spacing-s: $scale-s * 1rem;
$spacing: $scale * 1rem;
$spacing-m: $scale-m * 1rem;
$spacing-l: $scale-l * 1rem;

$line-height: $ratio;

$nav-breakpoint: tablet;

:root {
  --rb-header-height: 64px; //Overriden in header component

  --rb-primary-color-h: 217;
  --rb-primary-color-s: 51%;
  --rb-primary-color-l: 45%;

  --rb-bg-color: hsl(var(--rb-primary-color-h), var(--rb-primary-color-s), 5%);

  --rb-text-color: hsl(
    var(--rb-primary-color-h),
    var(--rb-primary-color-s),
    95%
  );

  --rb-font-sizes2: 0.64rem;
  --rb-font-sizes1: 0.8rem;
  --rb-font-size1: 1rem;
  --rb-font-size2: 1.25rem;
  --rb-font-size3: 1.563rem;
  --rb-font-size4: 1.953rem;
  --rb-font-size5: 2.441rem;

  --rb-font-weight-bold: "Akkurat-Bold";
}
