@use "sass:math";

$breakpoints: (
  "mobile-l": 480px,
  "tablet": 769px,
  "desktop": 960px,
  "widescreen": 1152px,
  "full-hd": 1344px,
);

$nav-breakpoint: tablet;

:root {
  --rb-header-height: 64px; //Overriden in header component

  --rb-primary-color-hs: 217 51%;
  --rb-primary-color-l: 45%;

  --rb-bg-color: hsl(var(--rb-primary-color-hs) 5%);
  --rb-text-color: hsl(var(--rb-primary-color-hs) 95%);

  --rb-font-size-0: 0.618rem;
  --rb-font-size-1: 1rem;
  --rb-font-size-2: 1.618rem;
  --rb-font-size-3: 2.618rem;
  --rb-font-size-4: 4.236rem;

  --rb-space-0: 0.236rem;
  --rb-space-1: 0.382rem;
  --rb-space-2: 0.618rem;
  --rb-space-3: 1rem;
  --rb-space-4: 1rem;
  --rb-space-5: 1.618;
  --rb-space-6: 2.618rem;
  --rb-space-7: 4.236rem;

  --rb-font-weight-bold: "Akkurat-Bold";
  --rb-line-height: 1.618;
  --rb-letter-spacing: 0.15em;

  --rb-transition-settings: 0.125s linear;

  --rb-text-hover-opacity: 0.85;
}
