@import "./../../styles/settings/all.scss";

.heading {
  font-size: var(--rb-font-size-3);
  margin: var(--rb-space-4) 0 var(--rb-space-0);
  padding: 0 1rem;

  @include respond-to(tablet) {
    font-size: var(--rb-font-size-3);
    padding: 0 2rem;
  }
}
