@import "./../../styles/settings/all.scss";

.footer {
  background: var(--rb-bg-color-blue);
  font-size: var(--rb-font-size-0);
  line-height: 1;
  padding: var(--rb-space-2);

  @include respond-to(tablet) {
    padding: var(--rb-space-3) 2rem;
  }

  p {
    margin: 0;
  }
}
