@font-face {
  font-family: "Akkurat-Light";
  src: url("./../fonts/Akkurat/Akkurat-Light.woff") format("woff");
}

@font-face {
  font-family: "Akkurat-Reg";
  src: url("./../fonts/Akkurat/Akkurat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url("./../fonts/Akkurat/Akkurat-Bold.woff") format("woff");
}
