html {
  font-size: 112.5%;
}

body {
  font-family: Akkurat-Reg, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: var(--rb-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  margin-bottom: 1rem;
}

.has-text-bold {
  font-family: var(--rb-font-weight-bold);
}
